<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cuenta Activada - {{appName}}</title>
</head>
<body>
    <h2>¡Cuenta activada con éxito!</h2>
    <p>Ahora puedes iniciar sesión en {{appName}}.</p>
<a href="{{backendUrl}}/api" class="button">Acceder a logearte</a>
    <p>Gracias por unirte a nosotros.</p>
    <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
    <p>Saludos,<br>El equipo de {{appName}}</p>
</body>
</html>